.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
}
body {
  position: relative;
}
img {
  border-radius: 5px 5px 0 0;
}
.list-group{
  width: 250px;
}
.card-product{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  height: 200px;
}
#gia{
  color:burlywood;
}

