<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new news</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css">
    <link href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link href="fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <script defer src="fontawesome-free-5.15.3-web/js/all.js"></script>
    <link href="fontawesome-free-5.15.3-web/css/fontawesome.css" rel="stylesheet">
    <link href="fontawesome-free-5.15.3-web/css/brands.css" rel="stylesheet">
    <link href="fontawesome-free-5.15.3-web/css/solid.css" rel="stylesheet">
    <script defer src="fontawesome-free-5.15.3-web/js/brands.js"></script>
    <script defer src="fontawesome-free-5.15.3-web/js/solid.js"></script>
    <script defer src="fontawesome-free-5.15.3-web/js/fontawesome.js"></script>
</head>

<body>
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home"> <img
					src="/images/logo1.png" alt="Logo" class="tm-site-logo" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbars-rs-food" aria-controls="navbars-rs-food"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
								data-toggle="dropdown">Home</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/home">Home site</a>
								<a class="dropdown-item" href="/admin">Admin Home</a>
							</div>
						</li>
						<div class="dropdown ">
							<button class="btn login_btn" type="button"
								data-toggle="dropdown">
								<i class="fas fa-user-tie"></i>Welcome, boss<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="/profile"><i class="fas fa-user"></i>
										Profile</a></li>
							<li class="dropdown-divider"></li>
								<li><a href="/logout"><i class="fas fa-sign-out-alt"></i>
										Logout</a></li>
							</ul>
						</div>
					</ul>
				</div>
			</div>
		</nav>
	</header>
     <div class="container">
        <div class="main-body" style="margin-top: 10px;">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Create new news</h4>
                </div>
                <div class="card-body">
                    <!-- <div class="row"> -->
                    <div class="col-md-8">
                        <form th:action="@{/saveNewNews}" th:object="${news}" method="POST">
                            <div class="form-group row">
                                <label for="text" class="col-12 col-form-label"> Title </label>
                                <div class="col-8">
                                    <input type="text" th:field="*{title}" id="text" name="text" placeholder="Enter Title here" class="form-control here" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="textarea" class="col-12 col-form-label">Content</label>
                                <div class="col-12">
                                    <textarea th:field="*{content}" id="textarea" name="textarea" cols="40" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="text" class="col-12 col-form-label"> Short Content </label>

                                <div class="col-8">
                                    <input type="text" th:field="*{shortContent}" id="text" name="text" placeholder="Short Content" class="form-control here" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="text" class="col-12 col-form-label"> Add image link </label>
                                <div class="col-8">
                                    <input type="text" th:field="*{image}" id="text" name="text" placeholder="Enter image here" class="form-control here" required="required">
                                </div>
                            </div>
                            <!-- <div class="custom-file"> -->                         
                            <div class="form-group row">
                                <div class="col-md-7">
                                    <a href="#"><button type="submit" class="btn btn-sm btn-primary">Add New</button></a>
                                    <a href="/admin"><button type="button" class="btn btn-sm btn-danger">Cancel</button></a>
                                </div>
                            </div>
                         </form>
                    </div>                    
                </div>
            </div>
        </div>
        <table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>News ID</th>
				<th>Title</th>
				<th>Image</th>
				<th>Content</th>
				<th>Short content</th>
				<th>Created by</th>
				<th>Create Date</th>
				<th>Actions</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="news : ${listNews}">
				<td th:text="${news.id}">News ID</td>
				<td th:text="${news.title}">title</td>
				<td> <img style="height: 150px; width:120px" th:attr="src=@{${news.image}}"></td>
				<td th:text="${news.content}">content</td>
				<td th:text="${news.shortContent}">Short Content</td>
				<td th:text="${news.createdBy}">Created by</td>
				<td th:text="${news.createdDate}">Create Date</td>
				<td>
					<a th:href="@{'/admin/news/edit/' + ${news.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/deleteNews/' + ${news.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
    </div>
</body>

</html>