<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new news</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="css/bootstrap.min.css">
    <link href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link href="fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <script defer src="fontawesome-free-5.15.3-web/js/all.js"></script>
    <link href="fontawesome-free-5.15.3-web/css/fontawesome.css" rel="stylesheet">
    <link href="fontawesome-free-5.15.3-web/css/brands.css" rel="stylesheet">
    <link href="fontawesome-free-5.15.3-web/css/solid.css" rel="stylesheet">
    <script defer src="fontawesome-free-5.15.3-web/js/brands.js"></script>
    <script defer src="fontawesome-free-5.15.3-web/js/solid.js"></script>
    <script defer src="fontawesome-free-5.15.3-web/js/fontawesome.js"></script>
</head>

<body>
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home"> <img
					src="images/logo1.png" alt="Logo" class="tm-site-logo" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbars-rs-food" aria-controls="navbars-rs-food"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
								data-toggle="dropdown">Home</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/home">Home site</a>
								<div sec:authorize="hasRole('ADMIN')">
									<a class="dropdown-item" href="/admin">Admin Home</a>
								</div>
								<div sec:authorize="hasRole('STAFF')">
									<a class="dropdown-item" href="/staff">Staff Home</a>
								</div>
							</div>
						</li>
						<div class="dropdown ">
							<button class="btn login_btn" type="button"
								data-toggle="dropdown">
								<i class="fas fa-user-tie"></i>Welcome, 
								<span sec:authentication="name"></span>	
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="/profile"><i class="fas fa-user"></i>
										Profile</a></li>
							<li class="dropdown-divider"></li>
								<li><a href="/login"><i class="fas fa-sign-out-alt"></i>
										Logout</a></li>
							</ul>
						</div>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<h1>Booking List</h1>
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Account</th>
				<th>Desk</th>
				<th>Date</th>
				<th>Time</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="booking : ${listBooking}">
				<td th:text="${booking.createdBy}">Account</td>
				<td th:text="${booking.desk.id}">Desk</td>
				<td th:text="${booking.date}">Date</td>
				<td th:text="${booking.time}">Time</td>
				<td>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/deleteBooking/' + ${booking.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
	</div>
</body>